@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

:root {
  --black: rgb(0, 0, 0);
  --black-with-transparency: rgba(0, 0, 0, 0.4);
  --white: rgb(255, 255, 255);
  --gray: rgb(189, 189, 189);
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
  height: 100%;
}

body,
button,
input {
  color: var(--white);
  font-family: 'Sawarabi Mincho', sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
  transition: .3s ease all;
  user-select: none;
}

@media (max-width: 600px) {
  body,
  button {
    font-size: 16px;
  }
}

.background {
  background-image: url("images/background.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  background-color: var(--black);
  background-color: var(--black-with-transparency);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  width: 100%;
  height: 100%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  height: 35%;
}

@media (max-width: 600px) {
  .title {
    height: 25%;
  }
}

h1 {
  text-shadow: 1px 1px var(--gray);
  font-size: 100px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 50px;
  }
}

button {
  background-color: var(--black-with-transparency);
  border: 1px solid var(--gray);
  color: var(--white);

  width: 60%;
  margin: 1rem 0 1rem;
  padding: 15px 30px;
  border-radius: 31px;

  cursor: pointer;
}

button:hover,
button:active,
button:focus {
  background-color: var(--gray);
  color: var(--black);
  transform: translate(2px, 2px);
  transition: none;
}

p {
  text-transform: none;
}

.text {
  width: 60%;
  height: 15%;
  margin-bottom: 1rem;
}

@media (max-width: 600px) {
  .about {
    width: 80%;
  }  
}

p,
h1,
h5 {
  animation-name: wiggle;
  animation-duration: 1ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes wiggle {
  0% { transform: translate(2px, 0px); }
  50% { transform: translate(0px, 0px) }
  100% { transform: translate(2px, 0px) }
}